﻿@model DrinksAutomat.Models.AutomatModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Index</h2>

    <p>
        <a href="#create" class="nav-link" data-toggle="modal" data-target="#create">Create drink</a><br/>
        <a href="#createCoin" class="nav-link" data-toggle="modal" data-target="#createCoin">Create coin</a>
    </p>
    <div id="Screen">
        <span>Внесенная сумма: </span>
        <span id="ScreenCounter">@Model.Temp</span>
        <div id="Notification"></div>
    </div>
    <hr/>
    
    <div>
        @foreach (var item in Model.Coins)
        {

            if (item.IsBlocked)
            {
                <button id="Blocked">@item.Value рублей</button>
            }
            else
            {
                <button id="UnBlocked" onclick="PutCoin(@item.Value)">@item.Value рублей</button>
            }
                <a href="#editCoin" onclick="EditCoin(@item.Id)" class="nav-link" data-toggle="modal" data-target="#editCoin">Edit</a>
                <a href="#deleteCoin" onclick="DeleteCoin(@item.Id)" class="nav-link" data-toggle="modal" data-target="#deleteCoin">Delete</a>
        }
    </div>
    <hr/>
    <br/>
    <div id="LoadDrinks"></div>
</div>


<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить напиток</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Create" asp-controller="N1ZppeBQkVXMoMFyL9Pw" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.Name" class="control-label"></label>
                        <input asp-for="@Model.DrinkModel.Name" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.ImagePath" class="control-label"></label>
                        <input asp-for="@Model.DrinkModel.ImagePath" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.ImagePath" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.Price" class="control-label"></label>
                        <input asp-for="@Model.DrinkModel.Price" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.Quantity" class="control-label"></label>
                        <input asp-for="@Model.DrinkModel.Quantity" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.Quantity" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Добавить" class="btn btn-default" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменить напиток</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Edit" asp-controller="N1ZppeBQkVXMoMFyL9Pw" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="editDrinkId" type="hidden" asp-for="@Model.DrinkModel.Id" class="form-control" />
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.Name" class="control-label"></label>
                        <input id="editDrinkName" asp-for="@Model.DrinkModel.Name" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.ImagePath" class="control-label"></label>
                        <input id="editDrinkImagePath" asp-for="@Model.DrinkModel.ImagePath" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.ImagePath" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.Price" class="control-label"></label>
                        <input id="editDrinkPrice" asp-for="@Model.DrinkModel.Price" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.Quantity" class="control-label"></label>
                        <input id="editDrinkQuantity" asp-for="@Model.DrinkModel.Quantity" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.Quantity" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Изменить" class="btn btn-default" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Удалить напиток</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="DeleteItem" asp-controller="N1ZppeBQkVXMoMFyL9Pw" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="deleteDrinkId" type="hidden" asp-for="@Model.DrinkModel.Id" class="form-control" />
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.Name" class="control-label"></label>
                        <input id="deleteDrinkName" asp-for="@Model.DrinkModel.Name" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.ImagePath" class="control-label"></label>
                        <input id="deleteDrinkImagePath" asp-for="@Model.DrinkModel.ImagePath" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.ImagePath" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.Price" class="control-label"></label>
                        <input id="deleteDrinkPrice" asp-for="@Model.DrinkModel.Price" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.DrinkModel.Quantity" class="control-label"></label>
                        <input id="deleteDrinkQuantity" asp-for="@Model.DrinkModel.Quantity" class="form-control" />
                        <span asp-validation-for="@Model.DrinkModel.Quantity" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Удалить" class="btn btn-default" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="createCoin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить монету</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Create" asp-controller="Coin" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.CoinModel.Value" class="control-label"></label>
                        <input asp-for="@Model.CoinModel.Value" class="form-control" />
                        <span asp-validation-for="@Model.CoinModel.Value" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CoinModel.Quantity" class="control-label"></label>
                        <input asp-for="@Model.CoinModel.Quantity" class="form-control" />
                        <span asp-validation-for="@Model.CoinModel.Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CoinModel.IsBlocked" class="control-label"></label>
                        <input asp-for="@Model.CoinModel.IsBlocked" class="form-control" />
                        <span asp-validation-for="@Model.CoinModel.IsBlocked" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Добавить" class="btn btn-default" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="editCoin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменить монету</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Edit" asp-controller="Coin" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="@Model.CoinModel.Id" type="hidden" id="editCoinId" class="form-control" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.CoinModel.Value" class="control-label"></label>
                        <input asp-for="@Model.CoinModel.Value" id="editCoinValue" class="form-control" />
                        <span asp-validation-for="@Model.CoinModel.Value" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CoinModel.Quantity" class="control-label"></label>
                        <input asp-for="@Model.CoinModel.Quantity" id="editCoinQuantity" class="form-control" />
                        <span asp-validation-for="@Model.CoinModel.Quantity" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="@Model.CoinModel.IsBlocked" class="control-label"></label>
                        <input asp-for="@Model.CoinModel.IsBlocked" type="checkbox" id="editCoinIsBlocked" class="form-control" />
                        <span asp-validation-for="@Model.CoinModel.IsBlocked" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="@Model.CoinModel.IsBlocked" class="control-label"></label>
                        @*<input type="checkbox" asp-for="@Model.CoinModel.IsBlocked" id="editCoinIsBlocked" class="form-control" />*@
                        @Html.CheckBoxFor(model => model.CoinModel.IsBlocked, new { id = "ditCoinIsBlocked" })
                        <span asp-validation-for="@Model.CoinModel.IsBlocked" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Изменить" class="btn btn-default" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteCoin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Удалить монету</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="DeleteItem" asp-controller="Coin" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"  class="text-danger"></div>
                    <input asp-for="@Model.CoinModel.Id" type="hidden" id="deleteCoinId" class="form-control" />
                    <div class="form-group">
                        <label asp-for="@Model.CoinModel.Value" class="control-label"></label>
                        <input asp-for="@Model.CoinModel.Value" id="deleteCoinValue" class="form-control" />
                        <span asp-validation-for="@Model.CoinModel.Value" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CoinModel.Quantity" class="control-label"></label>
                        <input asp-for="@Model.CoinModel.Quantity" id="deleteCoinQuantity" class="form-control" />
                        <span asp-validation-for="@Model.CoinModel.Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CoinModel.IsBlocked" class="control-label"></label>
                        <input asp-for="@Model.CoinModel.IsBlocked" id="deleteCoinIsBlocked" class="form-control" />
                        <span asp-validation-for="@Model.CoinModel.IsBlocked" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Удалить" class="btn btn-default" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $('#LoadDrinks').load('@Url.Action("LoadDrinks", "N1ZppeBQkVXMoMFyL9Pw")');
        });
        function PutCoin(value) {
            var temp = document.getElementById('ScreenCounter').value;
            $.ajax({
                url: '@Url.Action("GetCoinValue", "Coin")',
                type: 'GET',
                data: {
                    'value': value,
                    'temp': temp
                },
                success: function (data) {
                    $('#ScreenCounter').html(JSON.parse(data).Temp);
                    document.getElementById('ScreenCounter').value = JSON.parse(data).Temp;
                    document.getElementById("Notification").innerHTML = "";
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }

        function EditDrink(drinkId) {
            $.ajax({
                url: '@Url.Action("Edit", "N1ZppeBQkVXMoMFyL9Pw")',
                type: 'GET',
                data: {
                    'drinkId': drinkId
                },
                success: function (data) {
                    document.getElementById('editDrinkId').value = JSON.parse(data).DrinkModel.Id;
                    document.getElementById('editDrinkName').value = JSON.parse(data).DrinkModel.Name;
                    document.getElementById('editDrinkImagePath').value = JSON.parse(data).DrinkModel.ImagePath;
                    document.getElementById('editDrinkPrice').value = JSON.parse(data).DrinkModel.Price;
                    document.getElementById('editDrinkQuantity').value = JSON.parse(data).DrinkModel.Quantity;
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }

        function DeleteDrink(drinkId) {
            var temp = document.getElementById('ScreenCounter').value;
            $.ajax({
                url: '@Url.Action("Delete", "N1ZppeBQkVXMoMFyL9Pw")',
                type: 'GET',
                data: {
                    'drinkId': drinkId
                },
                success: function (data) {
                    document.getElementById('deleteDrinkId').value = JSON.parse(data).DrinkModel.Id;
                    document.getElementById('deleteDrinkName').value = JSON.parse(data).DrinkModel.Name;
                    document.getElementById('deleteDrinkImagePath').value = JSON.parse(data).DrinkModel.ImagePath;
                    document.getElementById('deleteDrinkPrice').value = JSON.parse(data).DrinkModel.Price;
                    document.getElementById('deleteDrinkQuantity').value = JSON.parse(data).DrinkModel.Quantity;
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }
        function BuyDrink(drinkId) {
            var temp = document.getElementById('ScreenCounter').value;
            $.ajax({
                url: '@Url.Action("BuyDrink", "Drink")',
                type: 'GET',
                data: {
                    'drinkId': drinkId,
                    'temp': temp
                },
                success: function (data) {
                    $('#Notification').html(JSON.parse(data).Notification);
                    $('#LoadDrinks').load('@Url.Action("LoadDrinks", "N1ZppeBQkVXMoMFyL9Pw")');
                    document.getElementById('ScreenCounter').value = JSON.parse(data).Temp;
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }

        function EditCoin(coinId) {
            $.ajax({
                url: '@Url.Action("Edit", "Coin")',
                type: 'GET',
                data: {
                    'id': coinId
                },
                success: function (data) {
                    document.getElementById('editCoinId').value = JSON.parse(data).CoinModel.Id;
                    document.getElementById('editCoinValue').value = JSON.parse(data).CoinModel.Value;
                    document.getElementById('editCoinQuantity').value = JSON.parse(data).CoinModel.Quantity;
                    document.getElementById('editCoinIsBlocked').value = JSON.parse(data).CoinModel.IsBlocked;
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }

        function DeleteCoin(coinId) {
            $.ajax({
                url: '@Url.Action("Delete", "Coin")',
                type: 'GET',
                data: {
                    'id': coinId
                },
                success: function (data) {
                    document.getElementById('deleteCoinId').value = JSON.parse(data).CoinModel.Id;
                    document.getElementById('deleteCoinValue').value = JSON.parse(data).CoinModel.Value;
                    document.getElementById('deleteCoinQuantity').value = JSON.parse(data).CoinModel.Quantity;
                    document.getElementById('deleteCoinIsBlocked').value = JSON.parse(data).CoinModel.IsBlocked;
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }

    </script>
}