﻿@model DrinksAutomat.Models.AutomatModel
@{
    Layout = null;
}
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Drinks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img onclick="BuyDrink(@item.Id)" width="50" src="@item.Image">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a href="#edit" onclick="EditDrink(@item.Id)" class="nav-link" data-toggle="modal" data-target="#edit">Edit</a> |
                    <a href="#delete" onclick="DeleteDrink(@item.Id)" class="nav-link" data-toggle="modal" data-target="#delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>