﻿@model DrinksAutomat.Models.AutomatModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Index</h2>

   
    <div id="Screen">
        <span>Внесенная сумма: </span>
        <span id="ScreenCounter">@Model.Temp</span>
        <div id="Notification"></div>
    </div>
    <hr />

    <div>
        @foreach (var item in Model.Coins)
        {
            if (item.IsBlocked)
            {
                <button id="Blocked">@item.Value рублей</button>
            }
            else
            {
                <button id="UnBlocked" onclick="PutCoin(@item.Value)">@item.Value рублей</button>
            }
        }
    </div>
    <hr />
    <br />
    <div id="LoadDrinks"></div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function() {
            $('#LoadDrinks').load('@Url.Action("LoadDrinks", "Drink")');
        });
        function PutCoin(value) {
            var temp = document.getElementById('ScreenCounter').value;
            $.ajax({
                url: '@Url.Action("GetCoinValue", "Coin")',
                type: 'GET',
                data: {
                    'value': value,
                    'temp': temp
                },
                success: function (data) {
                    $('#ScreenCounter').html(JSON.parse(data).Temp);
                    document.getElementById('ScreenCounter').value = JSON.parse(data).Temp;
                    document.getElementById("Notification").innerHTML = "";
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }

        function BuyDrink(drinkId) {
            var temp = document.getElementById('ScreenCounter').value;
            $.ajax({
                url: '@Url.Action("BuyDrink", "Drink")',
                type: 'GET',
                data: {
                    'drinkId': drinkId,
                    'temp': temp
                },
                success: function (data) {
                    $('#Notification').html(JSON.parse(data).Notification);
                    $('#LoadDrinks').load('@Url.Action("LoadDrinks", "Drink")');
                    document.getElementById('ScreenCounter').value = JSON.parse(data).Temp;
                    //document.getElementById("ScreenCounter").innerHTML = "";
                },
                error: console.log('Ошибка во время отправки комментария')
            });
        }

    </script>
}